<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./component/head', { data: { title: 'index page' } }); %>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

        <style>
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }

            .container {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 400px;
                padding: 20px;
                width: 100%;
                border: 1px solid #ccc;
                /* Added border */
            }

            h3 {
                text-align: center;
                color: #333;
                margin-bottom: 20px;
                font-family: 'Montserrat', sans-serif;
                /* Added Google Font */
                font-weight: 600;
            }

            form {
                text-align: center;
            }

            label {
                display: block;
                margin-bottom: 8px;
                color: #555;
            }

            input {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
            }

            input[type="submit"] {
                background-color: #4caf50;
                color: #fff;
                cursor: pointer;
            }

            input[type="submit"]:hover {
                background-color: #45a049;
            }
        </style>
</head>

<body>
    <div class="container">
        <h3>Forget Password</h3>
        <form action="/forgetPassword" method="post">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your email_id" required>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <%- include('./component/footer') %>
</body>

</html>