<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/head',{data:{title:'forgetPassword'}})%>
</head>

<body>
    <div class="container">
        <form action="/forgetPassword" method="post">
            <h3>Forget Pasword</h3>
            <input type="email" name="email" placeholder="Enter your registered email" required>
            <input type="submit" value="Send OTP">
        </form>
    </div>
    <%- include('component/footer') %>

</body>

</html>